{% extends "SUserBundle::layout.html.twig" %}
{% block head %}

    <!-- Document Title
	============================================= -->
    <title>Register in the Souk</title>

{% endblock %}
{% block fos_user_content %}
{% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock fos_user_content %}
