{% extends "SUserBundle::layout.html.twig" %}
{% block head %}

    <!-- Document Title
	============================================= -->
    <title>Login to the Souk</title>

{% endblock %}
{% block stylesheets %}
    <!-- Radio Checkbox Plugin -->
    <link rel="stylesheet" href="{{ asset('Template/css/components/radio-checkbox.css') }}" type="text/css"/>

    <link rel="stylesheet" href="{{ asset('Template/css/responsive.css') }}" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
{% endblock %}
{% block fos_user_content %}
    {{ include('SUserBundle:Security:login_content.html.twig') }}
{% endblock fos_user_content %}

{% block javascripts %}

    <!-- Bootstrap Switch Plugin -->
    <script type="text/javascript" src="{{ asset('Template/js/components/bs-switches.js') }}"></script>


    <script>

        jQuery(".bt-switch").bootstrapSwitch();

    </script>
{% endblock %}